.app-container {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crud {
  width: 100%;
  max-width: 500px;
}

.node {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  background-color: #f5f5f5;
  padding: 0.5rem;
}

.node + .node {
  margin-top: 1rem;
}

.node__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
  border-bottom: 1px solid #000;
}

.node__info:hover {
  background-color: #eeeeee;
  cursor: pointer;
}



.node__info__counts {
  color: #c13d3d;
  font-weight: bold;
}

.node__info__status {
  margin-left: 0.5rem;
}

.node__items {
  margin-top: 0.25rem;
}

.node__editmode {
  padding: 0.25rem;
}

.node__editmode:hover {
  background-color: #d3d2d2;
}

.crud-form {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem;
}